<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.phonegap.plugins.OpenIn" version="0.0.1">
    <name>OpenIn</name>
    <description>Cordova OpenIn Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,open in</keywords>

    <js-module src="www/OpenIn.js" name="OpenIn">
        <clobbers target="OpenIn" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenIn">
                <param name="ios-package" value="OpenIn"/>
            </feature>
        </config-file>
        <source-file src="src/ios/AppDelegate+openin.m" />
        <source-file src="src/ios/OpenIn.m" />

        <header-file src="src/ios/AppDelegate+openin.h" />
        <header-file src="src/ios/OpenIn.h" />
    </platform>
</plugin>